.Table__cell {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

.Table__cell-center {
  border: 1px solid black;
  text-align: center;
  padding: 8px;
}

.Table__row-infected {
  background-color: rgb(253, 126, 126);
}

.Table__row-noninfected {
  background-color: gainsboro;
}
