.UpdateInline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 55px;
}

.UpdateInput {
  width: 100%;
}

.UpdateLabel {
  margin-bottom: -10px;
}

.UpdateLabelInput {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 45%;
}
