.Inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.CreateSurvivorInput {
  width: 100%;
  height: 60%;
}

.CreateLabel {
  margin-bottom: -20px;
}

.LabelInput {
  width: 30%;
}

.ItensDiv {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.CreateItemInput {
  width: 100%;
  height: 10px;
}

.height140 {
  height: 140px;
}
