.ReportInfectedDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.ReportInfectedBox {
  border: 1px solid black;
  width: 40%;
  height: 200px;
  padding: 15px;
}

.ReportInfectedForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
