.UpdateProfileDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.UpdateProfileBox {
  border: 1px solid black;
  width: 20%;
  height: 200px;
  padding: 15px;
}

.UpdateProfileForm {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.LineInputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.UpdateInput__Small {
  width: 35%;
}
